.ora{
    padding: 20px;
}

th{
    color: black;
}

td, th{
    border: 3px solid rgb(250, 231, 215);
    padding: 15px;
}

tbody{
    color: white;
    background-color: lightseagreen;
}

table{
    margin: 0px auto;
    border: 5px solid peachpuff;
    text-align: center;
    background-color: rgb(180, 178, 178);
    border-collapse: collapse;
}

sub{
    color: white;
    font-size: 0.;
}

body{
    font-size: 1.2em;
}

tfoot{
    background-color: rgb(175, 175, 175);
    border: 5px solid red;
}

tfoot td{
    border: 5px solid gainsboro;
}

.egesz{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

td:hover, th:hover{
    background-color: orange;
}
